<!DOCTYPE html>
<%- include('../assets/head') %>
<% include(exercisePath) %>
<body>
    <h2><%= exerciseTitle %></h2>
    <p><%= exerciseSentence %></p>
    <div class="d-flex flex-wrap justify-content-center">
        <img src=<%='/images/exercises/exercise'+exerciseNum+'.jpg'%> alt="exercise-img"/>
        <article id="article" class="w-420 border-3 border-primary rounded-top px-10">
            <main id="exercise">
                <%- include(exercisePath) %>
            </main>
        </article>
        <code><pre id="html" class="code"></pre></code>
    </div>

    <script>
        const smallestWidth = ['/1', '12', '14', '15']
        const biggestWidth = ['13']
        if (biggestWidth.indexOf(location.href.substr(location.href.length - 2, 2)) != '-1') {
            document.getElementById('article').classList.replace('w-420', 'w-620')
        } else if (smallestWidth.indexOf(location.href.substr(location.href.length - 2, 2)) == '-1') {
            document.getElementById('article').classList.replace('w-420', 'w-520')
        }

        //-----------------------------------SHOW CODE----------------------------
        const htmlCode = document.getElementById('exercise').innerHTML
        const htmlElements = [
        ]
        const htmlAtributes = [
            'type', 'width', 'size', 'href', 'src',
            'alt', 'border', 'cellspacing', 'cellpadding',
            'colspan', 'rowspan', 'align', 'class', 'for',
            'id', 'name', 'action', 'method', 'maxlength', 
            'minlength', 'autocomplete', 'disabled', 'checked',
            'multiple', 'value', 'rows', 'cols'
        ]
        function colorCodeText (codeString) {
            let codeArray = codeString.split('>');
            codeArray.splice(codeArray.indexOf(''), 1);
            return codeArray.map(elem => {
                let code = elem.substr(elem.indexOf('<'), elem.length-1)
                code = code.replace('<', '&lt')
                elem = elem.replace('<', '&lt')
                return elem.replace(code, '<span class="html-element-color">' + code + '&gt;</span>')
            }).join('')
        }
        document.getElementById('html').innerHTML = colorCodeText(htmlCode)
    </script>
</body>